//IMPORTS

@import "./font";
@import "./mixins";
@import "./colors";

*,
::before,
::after {
  @include reset;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

.container {
  @include absoluteCenter;
}

//BUTTON

#buttonDiv {
  @include flexCenter;
}

button {
  height: 5rem;
  width: 5rem;
  background-color: transparent;
  outline: 3px dashed $dark;
  color: $dark;
  font-size: 0.85rem;
  border: none;
  transition: outline, 0.2s;
  font-size: 0.85rem;
  font-weight: 600;
  margin: 2rem;
  border-radius: 5rem;
}

button:hover {
  outline: 3px dashed $grey;
  cursor: pointer;
  color: $grey;
}

//ELEMENTS

#Elements {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: $grey-light;
}

.square,
.circle {
  @include flexCenter;

  background-color: $square;
  color: $white;

  height: 3rem;
  width: 3rem;
  margin: 1rem;
}

.circle {
  background-color: $circle;
  color: $white;
  border-radius: 3rem;
}
