//IMPORTS
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import "./font";
@import "./mixins";
@import "./colors";

*,
::before,
::after {
  @include reset;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  font-family: "Manrope", sans-serif;
}

.center {
  @include absoluteCenter;
  display: grid;
  grid-template-rows: 50px 1fr;

  .toDoAdd {
    padding: 10px 0px;
    width: 350px;
    height: 50px;
    display: grid;
    grid-template-columns: 240px 50px 50px;
    gap: 10px;
    input {
      padding-left: 10px;
      font-family: "Manrope", sans-serif;
    }
  }
}
