//IMPORTS
@import "./font";
@import "./mixins";
@import "./colors";

*,
::before,
::after {
  @include reset;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  height: 120vh;
}

.square {
  @include absoluteCenter;
  background-color: rgb(159, 175, 175);
}
