//IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
@import "./font";
@import "./mixins";
@import "./colors";

*,
::before,
::after {
  @include reset;
  box-sizing: border-box;
}

.container {
  font-family: "Work Sans", sans-serif;
  max-width: 80%;
  margin: 20px auto;
  letter-spacing: 0.5px;
}

.cursor {
  opacity: 0;
  transition: 0.3s;
}

.cursor.active {
  opacity: 1;
}
