@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexLeft {
  display: flex;
  justify-content: left;
  align-items: center;
}

@mixin reset {
  margin: 0;
  padding: 0;
}
