//IMPORTS
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import "./font";
@import "./mixins";
@import "./colors";

*,
::before,
::after {
  @include reset;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  color-scheme: light dark;
}

.container {
  @include absoluteCenter;
}

.timeSpan {
  font-size: 2rem;
}
